---
import Layout from "../layouts/Layout.astro";
import { Clicker } from "../components/Clicker";
import { Counter } from "../components/Counter";
import { Flowbitten } from "../components/Flowbitten";
import "flowbite";
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>Welcome to Astro</h1>
    <p class="instructions">
      Check out the <code class="bg-gray-500">src/pages</code> directory to get started.<br
      />
    </p>

    <Flowbitten client:load />
    <!-- Flowbitten includes the following two components in the example grid: -->
    <!-- <Clicker client:load /> -->
    <!-- <Counter client:visible /> -->

  </main>
</Layout>
